body {
    background: #F8F8F8;
}

.black-nav {
    background-color: #333;
    border-radius: 0;
    border: 0;
}

.black-nav a {
    color: #fff;
}

.black-nav .navbar-nav>li>a {
    color: #F3F3F3;
}

.black-nav .navbar-nav>li>a:hover {
    color: #555;
    background-color: #e7e7e7;
}

.source-panel {
    background: rgba(182, 182, 182, 0.51);
    padding-top: 15px;
    padding-bottom: 15px;
    color: #000;
    font-size: 16px;
}

.console-panel {
    height: 500px;
    background: #fff;
    padding-top: 15px;
    color: #fff;
    font-size: 16px;
}

.film .thumbnail {
    background-color: inherit;
    border: 0;
}

.update-time {
    font-size: 12px;
    display: inline-block;
    color: #797979;
}

.source-views {
    height: 400px;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto;
}

@media (max-width: 500px) {
    .source-views .film-container {
        width: 100%;
    }
}
.source-views .film-container {
    float: none;
    display: inline-block;

}