<% include includes/header.ejs %>
    <h1><%=title%></h1>
    <ul>
        <li>栏目1</li>
        <li>栏目1</li>
        <li>栏目1</li>
        <li>栏目1</li>
        <li>栏目1</li>
    </ul>
<% include ./includes/footer.ejs %>