<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="../../public/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/stylesheets/index.css">
</head>
<body>
<header class="top-header">
    <div class="fixed-head">
        <nav class="navbar navbar-default nav-index">
            <div class="container-fluid">
                <form class="">
                    <div class="col-lg-offset-4 col-lg-3 col-md-offset-4 col-md-3">
                        <label for="q"></label>
                        <input id="q" name="q" class="form-control main-fitler">
                    </div>
                    <div class="col-lg-1 col-md-1 main-bt-ct">
                        <button class="btn main-fitler-button">
                            <i class="glyphicon glyphicon-search"></i>
                            搜爱
                        </button>
                    </div>
                </form>
                <div class="navbar-logo">
                    <a class="logo" href="#">首页</a>
                </div>
            </div>
        </nav>
        <div class="container-fluid clearfix navbar-link-container">
            <div class="col-lg-offset-2 col-lg-10">
                <div class="row">
                    <div class="col-lg-offset-1 col-lg-11 col-md-12 col-sm-12">
                        <ul class="nav nav-crosswise">
                            <li><a>首页</a></li>
                            <li><a>电视剧</a></li>
                            <li><a>电影</a></li>
                            <li><a>动漫</a></li>
                            <li><a>综艺</a></li>
                            <li><a>音乐</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class=""></div>
<div class="container-fluid">
    <div class="left-nav">
        <div></div>
    </div>
    <div class="col-lg-offset-2 col-lg-10">
        <div class="row main-show">
            <div class="col-lg-offset-1 col-lg-11 col-md-12 col-sm-12">
                <div class="douban fav">
                    <div class="douban-title">
                        <div class="d-t-wrap">
                            <span>即将上映</span>
                        </div>
                    </div>
                    <div class="douban-fav">
                        <div class="douban-pic">
                            <div class="douban-stic">即将上映</div>
                            <a href="" title="" target="new"></a>
                            <i class="bg"></i>
                            <img alt="" src="http://img3.douban.com/view/movie_poster_cover/lpst/public/p2349275505.jpg">
                        </div>
                        <div class="douban-txt">
                            <h6 class="">
                                <a href="http://www.tudou.com/albumplay/WgDiLquLOQE/IyEyk_U58nE.html" title="郭麒麟退出相声界" target="new">奇幻 / 冒险</a>
                            </h6>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="douban">
                    <div class="douban-wrap">
                        <div class="douban-pic">
                            <a href="" title="" target="new"></a>
                            <i class="bg"></i>
                            <img src="http://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2346589849.jpg">
                        </div>
                        <div class="douban-txt">
                            <h6 class="">
                                <a href="http://www.tudou.com/albumplay/WgDiLquLOQE/IyEyk_U58nE.html" title="郭麒麟退出相声界" target="new">奇幻 / 冒险</a>
                            </h6>
                            <p></p>
                        </div>
                    </div>
                    <div class="douban-wrap">
                        <div class="douban-pic">
                            <a href="" title="" target="new"></a>
                            <i class="bg"></i>
                            <img src="http://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2346589849.jpg">
                        </div>
                        <div class="douban-txt">
                            <h6 class="">
                                <a href="http://www.tudou.com/albumplay/WgDiLquLOQE/IyEyk_U58nE.html" title="郭麒麟退出相声界" target="new">奇幻 / 冒险</a>
                            </h6>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>